<!-- Actor 3 : Chris Evans -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('header') %>
<h1>Chris Evans - Avengers: 1</h1>
<p>Name: Chris Evans</p>
<p>Character: Steve Rogers / Captain America</p>
<p>Movie: The Avengers (2012)</p>
<p>Fun Fact: Chris Evans initially turned down the role of Captain America because of anxiety about the fame that would come with it. He later accepted and became an integral part of the Marvel Cinematic Universe.</p>
