<!-- Actor 4 : Leonardo DiCaprio -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('header') %>
<h1>Leonardo DiCaprio - Inception</h1>
<p>Name: Leonardo DiCaprio</p>
<p>Character: Dom Cobb</p>
<p>Movie: Inception (2010)</p>
<p>Fun Fact: Leonardo DiCaprio received critical acclaim for his role in Inception, a mind-bending thriller directed by Christopher Nolan. The movie left audiences questioning reality and dreaming for days.</p>
