<!-- Actor 2 : Tom Cruise -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('header') %>
<h1>Tom Cruise - Mission Impossible: Ghost Protocol</h1>
<p>Name: Tom Cruise</p>
<p>Character: Ethan Hunt</p>
<p>Movie: Mission Impossible: Ghost Protocol (2011)</p>
<p>Fun Fact: Tom Cruise performed several dangerous stunts himself, including climbing the Burj Khalifa, the world's tallest building, for a breathtaking scene in the movie.</p>
