<!-- Actor 1 : Robert Downey Jr. -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('header') %>
<h1>Robert Downey Jr. - Ironman</h1>
<p>Name: Robert Downey Jr.</p>
<p>Character: Tony Stark / Ironman</p>
<p>Movie: Ironman (2008)</p>
<p>Fun Fact: Robert Downey Jr. was once quoted saying, "I am Iron Man," during a press conference, confirming his iconic role in the Marvel Cinematic Universe.</p>
