<!-- header.ejs -->
<nav>
    <ul>
      <li><a href="/">Actor 1</a></li>
      <li><a href="/actor_2">Actor 2</a></li>
      <li><a href="/actor_3">Actor 3</a></li>
      <li><a href="/actor_4">Actor 4</a></li>
    </ul>
  </nav>